body, html{
    background-color: black;
    color: aliceblue;
    font-family: Helvetica;
    font-weight: 500;
    font-size: large;
    scroll-behavior: smooth;
}

/* header */

nav {
    display: flex;
    align-items: center;
    margin-left: 380px;
    margin-right: 280px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
    margin-right: 100px;
  }
  
  .navigation-item {
    margin: 10px;
  }
  .navigation-item a {
      color: aliceblue;
      
  }
  .navigation-item a:hover {
      text-decoration: none;
  }


/* Body */

  /* About Me */
.about-me-container {
    margin: auto;
    margin-top: 30px;
    width: 60%;
    padding: 10px;
    display: flex;
}
.about-me-text-container {
    margin-right: 20px;
    text-align: justify;
    line-height: 30px;
}
.photo-allan {
    width: 300px;
    float: right;
    flex-shrink: 0;
    min-width: 300px
}
    /* Projects */
.projects-container {
    margin: auto;
    margin-top: 30px;
    width: 60%;
    padding: 10px;
    display: flex;
    
}

.projects-text-container h2:hover {
    cursor: pointer;
}
.user-manual-link:hover{
    text-decoration: none;
}



    /* Skills */


