body, html{
    background-color: black;
    color: aliceblue;
    font-family: Helvetica;
    font-weight: 500;
    font-size: large;
    scroll-behavior: smooth;
    background-image: url(./resources/background.jpg);
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
}


/* header */

nav {
    position: fixed;
    display: flex;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: grey;
    width: 100%;
    top: 0%;
  }
nav h2 {
    margin-left: 100px;

}
  
  .navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
    margin-right: 100px;
  }
  
  .navigation-item {
    margin: 10px;
  }
  .navigation-item a {
      color: aliceblue;
      
  }
  .navigation-item a:hover {
      text-decoration: none;
  }


/* Body */

  /* About Me */
.about-me-container {
    margin: auto;
    margin-top: 100px;
    width: 60%;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.about-me-text-container {
    margin-right: 20px;
    text-align: justify;
    line-height: 30px;
}
.photo-allan {
    width: 500px;
    height: 500px;
    margin: auto;
    float: right;
    flex-shrink: 0;
    min-width: 300px
}

    /* Projects */

.projects-container {
    margin: auto;
    margin-top: 30px;
    width: 60%;
    padding: 10px;
    display: flex;
    
}
.project-description {
    margin: auto;
    text-align: justify;
    flex-wrap: wrap;
    display: flex;
}

.projects-text-container h3:hover {
    cursor: pointer;
}
.user-manual-link:hover{
    text-decoration: none;
}

    /* Skills */

.skills-container {
    margin: auto;
    margin-top: 30px;
    width: 60%;
    padding: 10px;
    display: flex;
    
}

.skills-images {
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
    width: 100%;

}

.skill-item {
    margin: 20px;
    text-align: center;
    width: 100px;
}
.skills-description {
    margin: auto;
    margin-top: 10px;
    width: 60%;
    padding: 10px;
    display: flex;
}


.skills-description h3:hover {
    cursor: pointer;

}
.skills-description a {
    text-decoration: none;
    color: aliceblue;
}
#skill-logo {
    height: 100px;
    max-height: 100px;
    min-height: 100px;
}
#skill-logo-data {
    height: 100px;
    max-height: 100px;
    min-height: 100px;
}
#skill-logo-tools{
    height: 100px;
    max-height: 100px;
    min-height: 100px;
}


